language: cpp
os: linux
compiler: gcc

addons:
    apt:
        packages:
            - cmake
            - valgrind
            - libgtest-dev
            - gcovr

env:
    - DIR=pt_2

install:
    - cd /usr/src/gtest
    - sudo cmake CMakeLists.txt || (cat CMakeFiles/CMakeError.log && CMakeFiles/CMakeOutput.log)
    - sudo make
    - sudo cp *.a /usr/lib
    - cd -

script:
    - cd $DIR
    - cmake .
    - make
    - ls
    - valgrind --leak-check=full -q ./main_l.exe
    - valgrind --leak-check=full -q ./main_p.exe
    - ./test_l.exe
    - ./test_p.exe
    - gcovr -r .

after_script:
    - make clean
